#countdown {
    position: relative;
    margin: auto;
    margin-top: 20vh; /* Utiliza un porcentaje de la altura de la ventana */
    height: 11vw; /* Utiliza un porcentaje del ancho de la ventana */
    width: 11vw; /* Utiliza un porcentaje del ancho de la ventana */
    text-align: center;
}

#countdown-number {
    color: black;
    display: inline-block;
    line-height: 10vw; /* Ajusta la altura de la línea en relación al ancho de la ventana */
    font-size: 6vw;
}

#svg-countdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 10vw; /* Utiliza un porcentaje del ancho de la ventana */
    height: 10vw; /* Utiliza un porcentaje del ancho de la ventana */
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#svg-circle {
    --circle-radius: 5vw; /* Define el radio del círculo como una variable */
    stroke-dasharray: calc(
        2 * var(--circle-radius) * 3.14159
    ); /* Perímetro del círculo */
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 0.4vw; /* Ajusta el ancho de la línea en relación al ancho de la ventana */
    stroke: black;
    fill: none;
}

@keyframes countdown {
    from {
        stroke-dashoffset: calc(
            2 * var(--circle-radius) * 3.14159
        ); /* Perímetro del círculo */
    }
    to {
        stroke-dashoffset: 0;
    }
}
