.information{
    margin: 5vw;
}

.title{
    font-size: 8vw;
    @apply text-primary-500 text-center font-bold;
}

.text{
    margin-top: 5vw;
    font-size: 4vw;
    text-align: center;
    @apply text-surface-800-200;
}