.information {
    padding: 4vw;
}
.title{
    font-size: 8vw;
    @apply text-primary-500 text-center font-bold;
}

.text{
    font-size: 4vw;
    padding-bottom: 5vw;
    padding-top: 5vw;
    @apply text-surface-800-200;
}
.frame{
    display: flex;
    justify-content: center;
}
.picture {
    width: 60%;
    border-radius: 15px;
  }