.information {
    padding: 4vw;
}
.title{
    padding-top: 5vw;
    font-weight: bold;
    font-size: 6vw;
}
.text{
    font-size: 4vw;
    padding-top: 5vw;
}
.frame{
    display: flex;
    justify-content: center;
}
.picture {
    width: 60%;
    border-radius: 15px;
  }